<h1>Listing films</h1>

<%= link_to 'New film', new_film_path %>

<% form_tag films_path, :method=>:get do %>
  <p>
    <%= text_field_with_auto_complete :film, :search, 
    {:size => 20}, 
    {:url => formatted_films_path(:js), 
     :method => :get, 
     :with => "Object.toQueryString({search: element.value})"} %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
<% for film in @films %>
  <tr class="<%= cycle("odd", "even")%>">
    <td><%=h film.title %></td>
    <td><%= link_to 'Review', film %></td>
    <td><%= make_imdb_link(film.imdb_id) %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<pre id="stats">
  <h2>Stats</h2>
  Number of films: <%= num_all %><br />
  Without IMDB id: <%= num_without_imdb %><br />
  IMDB ID completion: <%= imdb_id_completion %>%
</pre>
